In [4]:
import pandas as pd
import sys

In [6]:
pwd

'/Users/thanutjunnim/Documents/vs_code/benz_talibun/09_google_earth_engin/notebooks'

In [36]:
path = '/Users/thanutjunnim/Documents/vs_code/benz_talibun/09_google_earth_engin/data/processed/processed_training_data.csv'
df = pd.read_csv(path)

In [38]:
df

,Unnamed: 0,sea_level_m,water_level_m,satellite_water_index_s1_vv,sea_level_m_tide,local_water_level_m,satellite_rainfall_mm_hr,satellite_water_index_s1_vv_water_extent
0,2025-05-23 11:49:40.190085+07:00,NaN,NaN,NaN,0.999575,0.944277,0.0,NaN
1,2025-05-23 12:49:40.190085+07:00,NaN,NaN,NaN,1.285114,1.339664,0.0,NaN
2,2025-05-23 13:49:40.190085+07:00,NaN,NaN,NaN,1.446502,1.056508,0.0,NaN
3,2025-05-23 14:49:40.190085+07:00,NaN,NaN,NaN,1.495307,1.014849,0.0,NaN
4,2025-05-23 15:49:40.190085+07:00,NaN,NaN,NaN,1.476946,1.094191,0.0,NaN
...,...,...,...,...,...,...,...,...
716,2025-06-22 07:49:40.190085+07:00,NaN,NaN,NaN,0.687475,0.835298,0.0,NaN
717,2025-06-22 08:49:40.190085+07:00,NaN,NaN,NaN,0.486388,1.123966,0.0,NaN
718,2025-06-22 09:49:40.190085+07:00,NaN,NaN,NaN,0.534636,1.144645,0.0,NaN
719,2025-06-22 10:49:40.190085+07:00,NaN,NaN,NaN,0.677898,1.081898,0.0,NaN
720,2025-06-22 11:49:40.190085+07:00,NaN,NaN,NaN,0.932843,1.186959,0.0,NaN

In [37]:
df['sea_level_m'].unique()

array([nan])

In [20]:
dates = pd.date_range('2023-12-29', '2024-01-03')

In [21]:
dates

DatetimeIndex(['2023-12-29', '2023-12-30', '2023-12-31', '2024-01-01',
               '2024-01-02', '2024-01-03'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(index=dates)

In [24]:
df['week_of_year'] = df.index.isocalendar().week

In [26]:
df.index.dayofweek

Index([4, 5, 6, 0, 1, 2], dtype='int32')